body {
	background-color: black;
	height: 10000px;
	margin: 0;
}
.container {
	overflow: hidden
}

.inner-container {
	margin: 30px;
}

header {
	position: relative;
    height: 60px;
	z-index: 3;
}

.menu-icon {
	position: fixed;
}

.section1 {
    position: relative;
    z-index: 1;
}

.section1:after {
	content: "";
    display: table;
    clear: both;
}

h2 {
    text-align: center;
    margin-top: 0;
    font-weight: 100;
    font-size: 65px;
}

p {
	text-align: center;
	font-weight: 100;
}

.phone-image { 
	width: 530px;
	position: fixed;
	right: -14%;
	float: right;
	visibility: hidden;
	z-index: 1;
}

.book-stack-image {
    width: 1200px;
    margin-top: 200px;
    right: -100px;
    float: left;
    opacity: 0; 
    position: relative;
    transition: 0.5s;
}
.shutters-container {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
}

#shutters-svg-container {
	position: absolute;
	top: 0;
	height: 100vh;
}

.shutter {
	background: white;
	width: 100%;
}

.shutter-bg-image {
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	background-image: url("../images/comic-bg.png");
	background-size: cover;
	z-index: -1;
}

#top-shutter, 
#bottom-shutter {
	fill:#FFFFFF;
}

#top-shutter {
	transform: translateY(-40%)
}

#bottom-shutter {
	transform: translateY(20%)
}

/* BOOKS - book-intro-animation */
.book-intro-animation .book-stack-image {
	right: -150px
}

.book-intro-animation .phone-image {
	right: -135px;
	/*transition: 1s;*/
}

/* BOOKS - scene 1 Animations */
.scene1-animation .phone-image {
	transform: scale(1.2) translateX(-54%);
}
.scene1-animation .book-stack-image {
	right: -160px;
	opacity: 0;
}